.animate {
  color: hsl(0, 0%, 31%);
  font-size: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 64px;
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 7s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 600px;
  }

  100% {
    background-position: 1200px;
  }
}

body {
  /* background-image: url('./images/bkg.gif'); */
  background-size: cover;
  background-image: Black;

  height: 100vh;
  padding: 0;
  margin: 0;
}

.light:hover {
  background-color: #d4d4d4;
  color: #61dafb;
  text-decoration: none;
  transition-duration: 0.1s;
  border-radius: 0.75rem;
}


.dark:hover {
  background-color: #3d3b3b;
  color: #61dafb;
  text-decoration: none;
  transition-duration: 0.1s;
  border-radius: 0.75rem;
}

.navbar-nav .nav-link.inactive,
.navbar-nav .show>.nav-link {
  color: rgb(49 43 43 / 90%);
}

.light-active {
  background-color: #ebe8e8;
  color: #05bcee;
  text-decoration: underline;
  transition-duration: 0.1s;
  border-radius: 0.75rem;
}

.dark-active {
  background-color: #414040;
  color: #61dafb;
  text-decoration: none;
  transition-duration: 0.1s;
  border-radius: 0.75rem;
}

.footer {
  background: #1c1c1c;
  background-size: cover;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  width: 100%;
  margin: 0% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.coverbox {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 0.75rem
}

@font-face {
  font-family: my-font;
  src: url(Roboto/Roboto-Light.ttf);
}

.font {
  font-family: my-font;
}



.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: 'Arial';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.center {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.wave {
  opacity: 0.5;
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, rgb(223, 228, 188), #c76d6d);
  margin: 10px;
  animation: wave 2s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(1) {
  animation-delay: 0s;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}